body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

h4 {
    margin-top: 19px;
}

.bili-item {
    margin-bottom: 10px;
}

.bili-item a {
    width: 185px;
}

.bili-item-mask {
    background-color: black;
    opacity: 0.5;
    text-align: center;
    position: absolute;
    bottom: 10px;
    top: 0;
    left: 15px;
    right: 15px;
    color: #FFF;
    display: none;
}

.bili-item-mask p:nth-child(1) {
    margin-top: 10px;
    height: 40px;
    overflow: hidden;
}

.bili-item-mask p:nth-child(2) {
    margin-top: 30px;
    text-align: left;
    margin-left: 10px;
}

.bili-item-mask p:nth-child(3) {
    margin-top: 5px;
    text-align: left;
    margin-left: 10px;
}

.top-background {
    height: 170px;
    background: transparent no-repeat center -10px;
    background-image: url(http://i0.hdslb.com/bfs/archive/4f59bf959d51592016e07efe62969c411288826a.png);
}

.top-background > .container {
    padding-top: 120px;
}

.top-background .col-md-8 {
    padding-left: 0px;
}

.bili-video-title {
    height: 40px;
}

.bili-video-title a {
    color: black;
}

.bili-video-title > a > div:nth-child(1) {
    height: 20px;
}

.bili-video-title > a > div:nth-child(1):hover {
    height: 40px;

}

.bili-video-img {
    width: 100%;
}

.bili-video-background {
    position: absolute;
    bottom: 20px;
    top: 0;
    left: 15px;
    right: 15px;
    display: none;
}

.bili-video-mask {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    bottom: 60px;
    top: 0;
    left: 15px;
    right: 15px;
    color: #FFF;
    display: none;
}

.bili-video-progress {
    margin: 5px;
}

.bili-video-progress > .progress {
    height: 2px;
}

.bili-video-progress > .progress > .progress-bar {
    transition: none;
    -webkit-transition: none;
}

.bili-video-mask > .text-right {
    position: absolute;
    margin: 0 5px;
    right: 0;
    bottom: 0;
}

.bili-video-title {
    overflow: hidden;
    margin-bottom: 20px;
}

.bili-video-title > a > div :nth-child(1) {
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    background-color: #fff;
    transition: all .2s linear;
}

.bili-video-title > a > div :nth-child(2) {
    background-color: #ffffff;
}

.bili-video-background > img {
    width: 100%;
}

.bili-ranking-media {
    margin-bottom: 15px;
}

.bili-ranking-media a {
    color: black;

}

.bili-ranking-media > div > span {
    display: inline-block;
}

.bili-ranking-media > div:nth-child(2) > a > img {
    height: 50px;
}

.bili-ranking-media > .media-body > a > div {
    height: 20px;
    overflow: hidden;
}

.bili-ranking-panel {
    display: none;
    position: absolute;
    transition: all .2s linear;
    z-index: 999;
}

.bili-ranking-panel > div > div > .alert-warning {
    margin-bottom: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.16);
}

.bili-ranking-panel img {
    width: 100%;
}

.bili-ranking-panel p {
    height: 63px;
    overflow: hidden;
}

.bili-ranking-panel .col-md-3 {
    white-space: nowrap;
    padding-right: 5px;
    overflow: hidden;
}

.bili-footer p {
    color: black;
    text-align: center;
}

.bili-footer img {
    margin: 0 auto;
    display: block;
}

.bili-footer > div > div > div:nth-child(2) {
    border-left: solid 1px #e5e9ef;
    border-right: solid 1px #e5e9ef;
}

.bili-search-search-bar {
    margin-bottom: 20px;
}

.bili-search-search-bar > li a:hover {
    border: none;
    border-bottom: 1px solid #66CCCC;
    background-color: #ffffff;
}

.bili-search-filter div > div > ul > li a {
    color: #000;
}

.bili-search-detail-img img {
    width: 100%;
}

.bili-search-detail-img div {
    position: absolute;
    right: 15px;
    bottom: 0;
    line-height: 25px;
}

.bili-search-detail-name > h4 {
    display:flex;
    margin-top: 0;
}

.bili-search-detail-name a {
    overflow: hidden;
    white-space: nowrap;
}
